#linkbar{
  border: solid black 5px;
  display: inline-block;
  max-width: 500px;
  min-width: 200px;
}

#wrapper{
  text-align: center;
}

#title{
  display: inline-block;
}

a{
  text-decoration: none;
  font-size: 20px;
}

.router-link-active{
  color:red;
}

.router-link-visited{
  color: black;
}
